.login-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 40%;
  box-shadow: 1px 1px 7px 2px var(--border-color-grey);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  height: 40%;
}

.login-info-box {
  width: 30%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.login-form-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.login-form {
  width: 50%;
  margin-top: 20px;
}
