.menu-bar {
  display: "flex";
  background-color: var(--primary-white);
  padding: 7px 5px;
  border-bottom: 1px solid var(--border-color-grey);
}

.menu-bar-logo {
  padding: 7px 5px;
  border-radius: 8;
}

.menu-bar-logo:hover {
  background-color: var(--mordos_black);
  color: var(--mordos_white);
}
