@import-normalize;

:root {
  --base-font-size: 16px;
  --base-font-weight: 400;

  --primary-color: #c3b8fd;
  --secondary-color: #b0a1ff;

  --border-color: #9683f7;
  --border-color-grey: #c5c5c5;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
}
